@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.eot');
    src: url('fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff'),
         url('fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

#rasschet.calk  {
	font-family: 'Roboto', sans-serif;
}

.calk h2 {
	font-family: 'robotothin';
}

@media screen and (max-device-width: 991px) {

}

@media screen and (min-device-width: 320px) {

}

@media screen and (min-device-width: 360px) {}

@media screen and (min-device-width: 768px) {}

@media screen and (min-device-width: 992px) {	

}

@media screen and (min-device-width: 1200px) {}

@media screen and (min-device-width: 1366px) {}





















































	