@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.eot');
    src: url('fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff'),
         url('fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

#rasschet.calk  {
	font-family: 'Roboto', sans-serif;
}

#rasschet .calk h2 {
	font-family: 'robotothin';
}

#btn-calc-wrapper {
	vertical-align: bottom;
}

#summag {
    width: 240px;
}

#term-text-max {
    position: absolute;
}

#rasschet .form-group i {
    font-size: 11px;
}

#bg-will-cost {
    margin-right: 30px;
}

#will-cost-wrap .text {
    font-family: "robotothin";
    font-size: 22px;
    color: rgb(255, 255, 255);
}

#will-cost-wrap .text,
#will-cost-wrap #final-sum {
    font-family: "robotothin";
    font-size: 26px;
    color: rgb(255, 255, 255);
}

#final-sum {
    font-weight: bold;
    font-family: Arial;
}

.calk-list-rezult li .zayavka-btn {
    padding-left: 0;
}

#will-cost-wrap {
    margin-bottom: 50px;
}

#rasschet .zayavka-btn {
    border: 1px dotted rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
}

#btn-calc-guarantee {
    width: 195px;
}

.calk-list li .form-group span {
    top: 46px;
}

@media screen and (max-device-width: 991px) {
    #rasschet #summag,
    #rasschet #srokg {
        margin-right: 0;
    }

    #rasschet #srokg {
        width: 240px;
    }

    #summag-wrap {
        margin-bottom: 40px;
    }

    .calk-list li .form-group span {
        right: 10px;
    }

    #will-cost-wrap {
        text-align: center;
        line-height: 170%;
    }

    .calk h2 {
        font-size: 24px;
        line-height: 120%;
    }
    .calk-list li {
        margin-bottom: 10px;
    }

    #final-sum {
        line-height: 140%;
    }
}























































	